* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ::-webkit-scrollbar {
    width: 0;
} */

body {
  min-height: 100vh;
  color: #2e2e2e;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main wrapper and backdrop --- start */
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 30px 0;
  display: flex;
}

.wrapper .screen {
  flex: 1;
  min-width: 100%;
  transition: all 0.3s;
}

.wrapper.show-category .home-screen {
  transform: translateX(-100%);
}
.wrapper.show-category .category-screen {
  transform: translateX(-100%);
}
.wrapper.show-category .screen-backdrop {
  transform: translate(-50%, -60%);
}

@media (min-width: 768px) {
  .wrapper {
    width: 25rem;
    height: 50rem;
    border-radius: 40px;
    border: 10px solid #2e2e2e;
  }
}

.screen-backdrop {
  width: 135%;
  height: 25rem;
  background-color: #f9ea85;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: all 0.3s;
}
/* end main wrapper and backdrop */

/* menu icon and welcome content -- start */
.head-wrapper {
  padding: 0 30px;
}
.menu-btn {
  width: 2rem;
  cursor: pointer;
  color: #2e2e2e;
}

.welcome {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.welcome h1 {
  font-size: 1.5rem;
}

.welcome p {
  font-weight: 500;
}

.welcome .img {
  position: relative;
}

.welcome .img img {
  width: 5rem;
}

.welcome .img .backdrop {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 3.8rem;
  height: 4rem;
  border-radius: 50%;
  /* background-color: #fdfbe5; */
  z-index: -1;
}
/* end of menu icon and welcome content */

/* category --- start */
.categories-wrapper {
  margin-top: 1rem;
  height: calc(100% - 8rem);
  padding: 0 30px;
  overflow: auto;
  padding-bottom: 20px;
}

.categories {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.categories .category {
  background-color: #fff;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.categories .category:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.left img {
  width: 3rem;
}

.category .content h1 {
  font-size: 1.5rem;
}

.category .content p {
  color: #2e2e2e;
  font-size: 0.9rem;
  opacity: 0.5;
}

.category .options {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.category:hover .options {
  opacity: 1;
  visibility: visible;
}
.category .toggle-btn {
  width: 2rem;
  cursor: pointer;
  opacity: 0.6;
}

/* category --- end */

/* category screen task  and tasks --- start*/
.category-screen .head-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-screen .head-wrapper svg {
  width: 2rem;
  cursor: pointer;
}

.category-details {
  margin-top: 7rem;
  padding: 0 30px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.category-details img {
  width: 4rem;
}

.category-details .details p {
  opacity: 0.6;
}

/* tasks */
.tasks-wrapper {
  margin-top: 1rem;
  height: calc(100% - 12rem);
  padding: 0 30px;
  overflow: auto;
  padding-bottom: 20px;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  gap: 1rem;
}

.task-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
  /* padding: 1.5rem 1rem; */
  /* border-radius: 0.5rem; */
  /* box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3); */
  /* transition: all 0.3s; */
}

.task {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  width: max-content;
  cursor: pointer;
}

.task input {
  display: none;
}

.task .checkmark {
  width: 1rem;
  height: 1rem;
  border: 1px solid #2e2e2e;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .checkmark svg {
  width: 1rem;
  opacity: 0;
  transition: all 0.3s;
}

.task .checkmark svg path {
  stroke-width: 3;
}

.task input:checked ~ .checkmark {
  background-color: #2e2e2e;
}
.task input:checked ~ .checkmark svg {
  color: #fff;
  opacity: 1;
}
.task input:checked ~ p {
  text-decoration: line-through;
  opacity: 0.6;
}

.task-wrapper .delete {
  min-width: 2.2rem;
  cursor: pointer;
  height: 2.2rem;
  padding: 0.6rem;
  border-radius: 50%;
  color: #2e2e2e;
  background-color: rgba(0, 0, 0, 0.031);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.task-wrapper:hover .delete {
  opacity: 1;
  visibility: visible;
}

.task-wrapper .delete:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* category screen task  and tasks --- end*/

/* add task button  and add-task --- start */
.add-task-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #f9ea85;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.add-task-btn.active {
  z-index: 1;
  bottom: 20rem;
  transform: rotate(45deg);
}
.add-task-btn:hover {
  transform: scale(1.1);
}

.add-task-btn svg {
  width: 2rem;
  color: #2e2e2e;
}

.add-task {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  transition: all 0.3s;
}

.add-task.active {
  bottom: 0;
}

.add-task .heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group label,
.input-group input {
  display: block;
  width: 100%;
}

.input-group input,
.input-group select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.input-group input::placeholder {
  font-size: 12px;
  font-style: italic;
}
/* add task button --- end */

.input-group label {
  width: max-content;
  padding: 0 5px;
  margin-top: 5px;
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.btns button {
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
}

.btns button.add-btn {
  background-color: #f9ea85;
  color: #2e2e2e;
}

.add-task-backdrop {
  position: absolute;
  background-color: #fff;
  width: 135%;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  height: 20rem;
  border-radius: 50% 50% 0 0;
}

.black-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: #00000023;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.black-backdrop.active {
  opacity: 1;
  visibility: visible;
}


/* no task found */
.no-task {  
  text-align: center;
  margin-top: 5rem;
  font-size: 1.5rem;
  opacity: 0.6;
} 